/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px, rgba(145, 158, 171, 0.14) 0px 4px 5px 0px, rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: 'Encode Sans Expanded', sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}
.rating-color {
  color: var(--rating-color);
}
.shadow-me {
  box-shadow: rgba(145, 158, 171, 0.12) 7px 1px 10px;
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}
.product .btn {
  transition: transform 1s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.font-xs {
  font-size: 10px;
}
.font-sm {
  font-size: 12px;
}
.font-md {
  font-size: 14px;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.w-64p {
  width: 64px;
}
.w-100p {
  width: 100px;
}
.w-128p {
  width: 128px;
}
.w-50p {
  width: 50px;
}
.w-32 {
  width: 32%;
}
.w-60 {
  width: 60%;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-87 {
  width: 87% !important;
}
.w-95 {
  width: 95% !important;
}
.h-100vh {
  min-height: calc(100vh - (59.08px + 301.59px)) !important;
}

.hover:hover {
  border: 1px solid var(--main-color);
}
.cartNumber {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: red;
  padding: 5px;
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.slick-next {
  right: 5px;
}
.slick-prev {
  left: 5px;
  z-index: 999;
}
.slick-prev,
.slick-next {
  background-color: var(--main-color);
  /* color: white !important; */
}
.slick-prev::before,
.slick-next::before {
  color: white;
  opacity: 1;
}
.offline {
  padding: 10px;
  color: black;
  background-color: white;
  box-shadow: var(--shadow);
  width: 200px;
  font-size: 14px;
  font-weight: 300;
  position: fixed;
  top: 59px;
  right: 20px;
  text-align: center;
}
